[Unit]
Description=fpnd control daemon
Requires=zerotier-one.service
After=zerotier-one.service

[Service]
ExecStart=/usr/lib/fpnd/fpnd.py start
ExecStop=/usr/lib/fpnd/fpnd.py stop
PIDFile=/run/fpnd.pid
Type=simple
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
