[Unit]
Description=fpnd network control daemon
Requires=stunnel4.service
Requires=zerotier-one.service
After=zerotier-one.service

[Service]
User=fpnd
Group=fpnd

RuntimeDirectory=fpnd
LogsDirectory=fpnd
StateDirectory=fpnd

AmbientCapabilities=CAP_NET_ADMIN CAP_NET_RAW CAP_DAC_OVERRIDE
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_RAW CAP_DAC_OVERRIDE
PermissionsStartOnly=true

ExecStartPre=/usr/sbin/modprobe ip6_tables
ExecStart=/usr/lib/fpnd/fpnd.py start

KillSignal=SIGTERM
SendSIGKILL=no


PIDFile=/run/fpnd/fpnd.pid
TimeoutStartSec=9
TimeoutStopSec=9

[Install]
WantedBy=multi-user.target
