[Unit]
Description=fpnd control daemon
Requires=zerotier-one.service
After=zerotier-one.service

[Service]
User=fpnd
Group=fpnd

RuntimeDirectory=fpnd
LogsDirectory=fpnd
StateDirectory=fpnd

AmbientCapabilities=CAP_NET_ADMIN CAP_NET_RAW CAP_DAC_OVERRIDE
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_RAW CAP_DAC_OVERRIDE

ExecStart=/usr/lib/fpnd/fpnd.py start
ExecStop=/bin/kill -TERM $MAINPID
KillMode=none
PIDFile=/run/fpnd/fpnd.pid
Type=forking
TimeoutStartSec=5
TimeoutStopSec=7

[Install]
WantedBy=multi-user.target
